@mixin from ($bp) {
    @if map-has-key($breakpoints,$bp){
        @media screen and (min-width : map_get($breakpoints, $bp)) {
            @content;
        }
    } @else{
        @media screen  and (min-width: $bp) {
            @content;
        }
    }
}
@mixin toggle-direction($dir, $size,$header) {
    @if $dir == left{
        top: - $header;
        left: - $size;
        transform: scale(0);
        transform-origin: top;
        opacity: 0;
        @include from(l){
            transform: scale(1);
            opacity: 1;
        }
        &.show{
            top: $header;
            left: 0;
            transform: scale(1);
            opacity: 1;
        }
    }@else if $dir == right{
        right: - $size;
        &.show{
            right: 0;
        }
    }
}
