@import './raleway';
@import './config/variable';
@import './config/mixions';
@import './layout/layout';
@import './components/header';
@import './components/logo';
@import './components/menu';
@import './components/footer';
html{
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: whitesmoke;
}
body{
    &.show{
        transform: translate(80vw);
        overflow: hidden;
    }
    &.overflow{
        overflow: hidden;
    }
}